* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
}

h1.title-api-documentation {
    font-size: 25px;
    padding: 1.5rem 0;
    font-weight: 600;
}

.content {
    max-width: 100vw;
    width: 100vw;
    overflow: hidden;
    padding: 5rem 15rem;
}

.script-box {
    background-color: #272822;
    border-radius: 5px;
    padding: 1rem;
    font-size: 15px;
    font-weight: 600;
}

pre {
    color: #fff;
    font-weight: 600;
    line-height: 27px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.tulisan-gede {
    font-size: 24px;
}

footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #272822;
    color: #fff;
}

footer span {
    font-weight: 600;
}

@media screen and (max-width: 991px) {
    h1.title-api-documentation {
        font-size: 18px;
    }

    .content {
        padding: 2rem 2.5rem;
    }
}